td {
  border: 0.5pt solid #9bac9d;
  padding: 8px;
  resize: none;
}
th {
  border: 0.5pt solid #9bac9d;

  padding: 8px;
}
tr {
  margin: 0px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.bs-border {
  position: relative;
}
th.colH:hover,
td.rowH:hover {
  color: #262626;
  background-image: none;
  background-color: #9fd5b7;
  border-style: solid;
  border-left-color: #dbdbdb !important;
  border-right-color: #b7b7b7 !important;
  border-bottom-color: #ababab !important;
}
th.colH,
td.rowH {
  color: #585757;
  font: "11px Calbri";
  background-image: none;
  background-color: #f1f1f1;
  border-style: solid;
  border-left-color: #dbdbdb !important;
  border-right-color: #b7b7b7 !important;
  border-bottom-color: #ababab !important;
}
.dataTableGrid{
  position: relative;
}