.bs-grid.outer {
  font: "normal 11px calbri ";
  font-size: small;
  overflow: overlay;
  height: inherit;
  width: "inherit";
  box-sizing: border-box;
}
.bs.bsCell.odd {
  background-color: #f7f7f7;
}
.bs.bsRow:hover {
  background-color: rgb(127, 184, 230);
}
.bs.bsRow {
  background-color: #fff;
  box-sizing: content-box;
}

.bs.colHeader {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 200;
  box-sizing: border-box;
}

.bs.bsCell.rowH {
  background-color: #eee;
}

.bs.bsCell.selected {
  color: white;
  background-color: #404d88;
}

.bs.bsCell.colH {
  position: sticky;
  top: 0;
  white-space: nowrap;
  background: #eee;
  outline: 0;
}

.bs.bsCell.colH:hover {
  color: #262626;
  background-image: none;
  background-color: #9fd5b7;
}
.colH {
  font-weight: bolder;
  font-size: small;
  position: relative;
}

.bs.bsRow,
.bs.rowH {
  display: flex;
}

.bs.bsCell {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  position: absolute;
}

.bs.bsRow {
  position: absolute;
  top: 0;
}

.dataTableGrid {
  position: relative;
}
